<div class="container">
  <div class="row border-top py-5">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><strong><a href="#" class="text-white text-decoration-none">Overview</a></strong></li>
        <li><a href="#" class="text-muted text-decoration-none">Work</a></li>
        <li><a href="#" class="text-muted text-decoration-none">Approach</a></li>
        <li><a href="#" class="text-muted text-decoration-none">About</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled">
        <li><a href="#" class="text-muted text-decoration-none">Twitter/X</a></li>
        <li><a href="#" class="text-muted text-decoration-none">Instagram</a></li>
      </ul>
    </div>
    <div class="col-md-2 text-md-end">
      <p class="text-muted">Copyright © 2024 OMMO</p>
    </div>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>