<div class="row g-4">
  {%- for project in projects %}
    <div class="col-md-6">
      <div class="card project-card h-100 bg-dark">
        {% if project.data.coverImage %}
          <img src="{{ project.data.coverImage }}" class="card-img-top" alt="{{ project.data.title }}">
        {% endif %}
        <div class="card-body">
          <h3 class="card-title h4">{{ project.data.title }}</h3>
          <p class="card-text">{{ project.data.summary }}</p>
          <div class="mb-3">
            {% for tag in project.data.tags | filterTagList %}
              {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
              <a href="{{ tagUrl | url }}" class="btn btn-outline-light btn-sm me-2 mb-2">{{ tag }}</a>
            {% endfor %}
          </div>
          <a href="{{ project.url | url }}" class="link-fancy">View Project</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% if pagination.href.previous or pagination.href.next %}
<div class="row mt-5">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <div>
        {% if pagination.href.previous %}
          <a href="{{pagination.href.previous}}" class="btn btn-outline-light">< Previous Page</a>
        {% endif %}
      </div>
      <div>
        {% if pagination.href.next %}
          <a href="{{pagination.href.next}}" class="btn btn-outline-light">Next Page ></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}