---
layout: layouts/work.njk
title: Work
pagination:
    data: collections.project
    size: 3
    reverse: true
    alias: projects
---

<p class="lead">Selected projects and case studies showcasing my work in design and development.</p>